.btns a{
  margin-right: 2cm;
}

#btn-fb {
  color: white;
  font-size: 25px;
  border: 1px solid #3B5998;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3B5998;
  border-radius: 7px;
  text-align: center;
}

#btn-fb:hover {
  cursor: pointer;
  color: #3B5998;
  background-color: white;
}

#btn-tw {
  color: white;
  font-size: 25px;
  border: 1px solid #1DA1F2;
  padding: 10px 15px;
  background-color: #1DA1F2;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
}

#btn-tw:hover {
  cursor: pointer;
  color: #1DA1F2;
  background-color: white;
}
#btn-yt {
  color: white;
  font-size: 25px;
  border: 1px solid #CC181E;
  padding: 10px 15px;
  background-color: #CC181E;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
}

#btn-yt:hover {
  cursor: pointer;
  color: #CC181E;
  background-color: white;
}
